# Environment & secrets
.env
*.pem
*.key
__pycache__/



# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
myenv/
env/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/qr_codes/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Archives
*.zip
